@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#ffff,#e6a169);
}

main{
    background-color: rgb(47, 47, 179);
    width: 500px;
    margin: auto;
    height: 20em; 
    border-radius: 15px; 
    box-shadow: 5px 5px 15px #8f877f; 
}
h1{
    text-align: center;
}
.mesBtn{
    justify-content: center;
    
}
/*
.scoreBtn{
   margin-left: 45em; 
   margin-top: 4em;
   display: flex;
   justify-content: center;
   align-items: center;
    height:100%;
}*/
.Btn{
    
    color: rgb(52, 30, 30) ;
    background-color: rgb(208, 208, 228);
    border-radius: 5px; 
    width: 7em; 
    height: 3em;
    border: 2px solid #046ca8;
}

.Btn:hover{
   cursor: pointer;
    animation: jelly 0.5s; 
}

.mesBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
#score p{
    font-size: 20px;
  
}
.mesScore{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreBtn{
    
    background-color: #046ca8;
    border-radius: 5px;
    color: aliceblue;
    height: 52px;
    font-size: 20px;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  
}